.defaultCard {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
  transition: all 0.3s;

  &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.defaultCardImgContainer {
  width: 100%;
  aspect-ratio: 3.3 / 2.63;
}

.starsOuter {
  display: flex;
  position: relative;

  &:before {
    content: "\2606 \2606 \2606 \2606 \2606";
    font-size: 11px;
    color: #b0b0b0;
  }
}

.starsInner {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;

  &:before {
    content: "\2605 \2605 \2605 \2605 \2605";
    font-size: 11px;
    color: #ffd203;
  }
}