@use "sass:color";

$primary: #1F7A4F;
$white2: #FFFBFE;
$black2: #1c1c1c;
$saltpan: #F6FAF8;
$downy: #69D09E;
$comet: #5E6282;
$yellow: #ffd203;
$greenpea: #19613F;
$lightGreen: #8bbaa41c;
$martinique: #3E2E4D;
$viridian: #3A8A64;
$viridian2: #4a947140;